<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/styles/mainstyle.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div class="mainMenu">
            <button>Главная</button>
            <button>Забронировать место</button>
            <button>Меню</button>
        </div>
        
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
