<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link style="stylesheet" href="styles/style.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>alshdgd</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
