<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/styles/mainstyle.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <div class="mainWrapper">
        <header class="header">
            <nav class="menu" role="navigation">
                <ul class="menu_list">
                    
			        <li class="menu_item_list">
				        <a asp-controller="Home" asp-action="MainPage" class="menu_item_list_href">
                           
                            <div class="contentBlockMenu">
                                 <img src="~/images/cafe.png" />
                                 <!--<figcaption>Главная</figcaption>-->
                            </div>
                        </a>
			        </li>

			        <li class="menu_item_list">
                        <a asp-controller="Home" asp-action="RestarauntMap" class="menu_item_list_href">
                           
                            <div class="contentBlockMenu">
                                 <img src="~/images/table.png" />
                                <!--<figcaption>Заброинровать место</figcaption>-->
                            </div>
                        </a>
			        </li>

			        <li class="menu_item_list">
				        <a asp-controller="Home" asp-action="RestarauntMenu" class="menu_item_list_href">
                           
                            <div class="contentBlockMenu">
                                <img src="~/images/restaurantMenu.png" />
                                <!--<figcaption>Меню</figcaption>-->
                            </div>
                        </a>
			        </li>
                    
                </ul>
            </nav>



            <!--<div class="logo">
                <img class="image" src="~/images/logo.png" />
            </div>-->


            <!--<nav role="navigation" class="menu">
                <ul class="menu_list">
                    <li class="menu_item_list">
                        <a asp-controller="Home" asp-action="MainPage" class="menu_item_list_href">
                            <span class="hrefText">Главная</span>
                        </a>
                        <div class="contentBlockMenu">
                            <img src="~/images/cafe.png" />
                            <span>На этой странице вы можете больше узнать о нас, а также о нашем уютном ресторане</span>
                        </div>
                    </li>
                    <li class="menu_item_list">
                        <a asp-controller="Home" asp-action="RestarauntMap" class="menu_item_list_href">
                            <span class="hrefText">Заброинровать место</span>
                        </a>
                        <div class="contentBlockMenu">
                            <img src="~/images/table.png" />
                            <span>Вы можете заброинровать понравившееся вам местечко прямо на сайте</span>
                        </div>
                    </li>
                    <li class="menu_item_list">
                        <a asp-controller="Home" asp-action="RestarauntMenu" class="menu_item_list_href">
                            <span class="hrefText">Меню</span>
                        </a>
                        <div class="contentBlockMenu">
                            <img src="~/images/restaurantMenu.png" />
                            <span>Здесь вы можете ознакомиться с нашим меню</span>
                        </div>
                    </li>
                </ul>
            </nav>-->
        </header>
        <main class="main">
            <div class="content">
                @RenderBody()
            </div>
        </main>
        <footer class="footer"> 

        </footer>
    </div>
    <script src="~/js/tableInfo.js"></script>
</body>
</html>
