<head>
    <link rel="stylesheet" href="~/styles/mainPageStyle.css" />
</head>

<div class="mainPageContent">
    <div class="pageInformation">
        <p>Главная</p>
        <p>Здесь вы можете побольше узнать о нашем ресторане</p>
    </div>
    <div class="contentDefault1">
        <div class="textContent">
            <p>
                Приветствуем вас в нашем уютном ресторане! 
            </p>
        </div>
        <div class="picturesContent">
            <div class="picturesGroup">
                <img class="picture1" src="~/images/insideRestaraunt1.jpg" />
                <img class="picture2" src="~/images/insideRestaraunt2.jpg" />
            </div>
        </div>
    </div>

    <div class="reverseContent">
        <div class="picturesContent">
            <div class="picturesGroup">
                <img class="picture1" src="~/images/cook1.jpg" />
                <img class="picture2" src="~/images/cook2.jpg" />
            </div>
        </div>
        <div class="textContent">
            <p>
                У нас работают талантливые повара и дружелюбные официанты, так что вы точно останетесь довольны качеством обслуживания.
            </p>
        </div>
    </div>

    <div class="contentDefault2">
        <div class="textContent">
            <p>
                Попробуйте наши блюда и удостоверьтесь в их насыщенном вкусе и качестве, заказав столик в нашем ресторане прямоу на нашем сайте
            </p>
        </div>
        <div class="picturesContent">
            <div class="picturesGroup">
                <img class="picture1" src="~/images/food1.jpg" />
                <img class="picture2" src="~/images/food2.jpg" />
            </div>
        </div>
    </div>

</div>