<head>
    <link rel="stylesheet" href="~/styles/restarauntMap.css"/>
</head>

<div class="mapArea">
    <div class="map">
        <svg viewBox="0 0 1211 601">
            
            <path class="placeForTwo"
                  d="m 190.61883,0.59137176 -0.0759,119.94410824 120.01278,0.0348 -0.0697,-119.94308552 z"
                  fill="#C8D35B">
                
            </path>
            
            <text >
                asd
            </text>
        </svg>
        
        <img src="~/images/FirstFloor.jpg"/>
    </div>
    <div class="properties">

    </div>
</div>
