:root {
    --green: #C8D35B;
    --lightgreen: #D2F079;
    --brown: #A2663E;
    --lightbrown: #E0B65A;
    --lightyellow: #F0F05A;
}

.menuContent {
    display:grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    font-weight:400;
}

.dishesList {
    border-collapse:collapse;
    
   
    grid-column: 2/3;
}


.dishesList tr {
    
    border-bottom: 2px solid var(--brown);
}

    .dishesList tr td {
        padding: 10px 50px;
        text-align: center;
    }
