@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');
:root {
    --green: #C8D35B;
    --lightgreen: #D2F079;
    --brown: #A2663E;
    --lightbrown: #E0B65A;
    --lightyellow: #F0F05A;
}

.mapArea {
    
    display: grid;
    margin-top: 25px;
    
    grid-template-columns: 1fr 0.25fr;
    grid-template-rows: 1fr;
    grid-template-areas: "map properties"
}


.map{
    grid-area: map;
    position: relative;
}



svg{
    position:absolute;
    top:-2px;
    left:0;
    height:100%;
    width:100%;
}

.placeForTwo{

    opacity:0.3;
}

.svgText{
    
    position: absolute;
}

.placeForTwo:hover{
    transition: 0.2s ease;
    opacity:0.6;
}



.properties {
    grid-area: properties;
}





