@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');
:root {
    --green: #C8D35B;
    --lightgreen: #D2F079;
    --brown: #A2663E;
    --lightbrown: #E0B65A;
    --lightyellow: #F0F05A;
}

.mapArea {
    height: 57vh;
    display: grid;
    margin-top: 25px;
    border: 2px solid var(--brown);
    grid-template-columns: 1fr 0.25fr;
    grid-template-rows: 1fr;
    grid-template-areas: "map properties"
}



.properties {
    grid-area: properties;
}





